<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.jiye.prjdb.notice.map.DessertMapper">
	<select id = "dessertSelectList"
		resultType = "co.jiye.prjdb.notice.service.DessertVO">
		SELECT * FROM DESSERT
		</select>

</mapper>